{{ rich_text_render_collection(readme.body.content) }}

<a href="https://github.com/plopix"><img alt="Plopix's Github stats" src="https://github-readme-stats.vercel.app/api?username=plopix&count_private=true&show_icons=true&hide_title=true" /></a>
<a href="https://github.com/sponsors/plopix"><img align="right" src="https://github.githubassets.com/images/modules/site/sponsors/logo-mona.svg" alt="Mona holding a heart" width="180"/></a>


<details>
    <summary>💯 More Stats</summary><br />
    <img width="400" alt="Plopix's Wakatime Languages" src="https://wakatime.com/share/@plopix/9548f056-f696-41fe-8266-b025f19192c6.svg" />
    <img width="400" alt="Plopix's Wakatime Times" src="https://wakatime.com/share/@plopix/91750824-23bb-417c-9e17-d9ee0869eda2.svg" />
</details>

<details>
  <summary>🎼 My Symfony Badges</summary><br />
  {% for sfbadge in symfonyBadges %}
        <a href="{{ sfbadge.link }}"><img width="100" src="{{ sfbadge.img }}" alt="{{ sfbadge.name }}"></a>
  {% endfor %}
</details>


<img align="right" src='https://img.shields.io/badge/Updated on-{{ 'now'|date('m-d-Y H:i:s')|replace({'-':'--'}) }}-green?style=flat-square&labelColor=black' alt='Updated on {{ 'now'|date('m-d-Y H:i:s')|replace({'-':'--'}) }}'/>
